/* Default */

:root {
  --accent-color: #CE2E2E;
  --bg-color: #FFF9F0;
  --shadow-color: #E38080;
  --box-shadow-color: #560000;
}

body {
  margin: 0;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-color);
  overflow-x: hidden;
}



/* Home Page */

/* Header */

.header-main-container {
  background-image: url(../images/woody-hero-bg.png);
  height: 950px;
  background-repeat: no-repeat;
  background-size: 1800px 950px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 80px;
}

.header-wrapper h1 {
  letter-spacing: 5px;
  font-weight: 800px;
  font-size: 50px;
  line-height: 0px;
  text-shadow: 0 4px 4px var(--shadow-color);
}



/* Main */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gif img{
  width: 250px;
  height: 300px;
  padding-bottom: 80px;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  
}

.play-btn a, .support-btn a {
  background-color: var(--accent-color);
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  width: 130px;
  border-radius: 50px;
  border: 2px solid white;
  font-family: "Darumadrop One", sans-serif;
  font-size: 25px;
  color: white;
  box-shadow: 0 4px 3px var(--box-shadow-color);
}

.play-btn a{
  min-width: 130;
  padding-right: 46.5px;
  padding-left: 46.5px;
}




/* Footer */

.footer-container {
  height: 120px;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  column-gap: 50px;
  font-size: 35px;
}

.social-icons a:visited {
  color: black;
}

.copyright p{
  padding: 20px 0 15px 20px;
  font-size: 18px;
}




/* Play Page */

/* Header */

.header-main-container2 {
  background-image: url(../images/woody-hero-header.png);
  height: 200px;
  background-repeat: no-repeat;
  background-size: 1800px 200px;
}

.header-wrapper2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header-wrapper2 h1 {
  background-color: var(--accent-color);
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  width: 130px;
  border-radius: 50px;
  border: 2px solid white;
  font-family: "Darumadrop One", sans-serif;
  font-size: 25px;
  color: white;
  box-shadow: 0 4px 3px rgb(98, 98, 98);
}

.help-icons {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  font-size: 30px;
}